@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --bg-main: #e5e5e5;
  --bg-white: #fff;
  --gray: #627B75;
  --black: #333a40;

  --radius-sm: 6px;
  --radius-s: 4px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, button {
  border: none;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-main);
}

.todo {
  margin: 50px 0;

  &__container {
    background-color: var(--bg-white);
    margin: 0;
    width: 300px;
    padding: 15px;
    border-radius: var(--radius-sm);
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}

.task {
  display: flex;
  flex-direction: column;

  &__title {
    color: var(--black);
    margin-bottom: 10px;
    text-align: center;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }

  &__input {
    width: 100%;
    height: 30px;
    flex-grow: 1;
    border: 1px solid var(--bg-main);
    padding: 10px;
    border-radius: var(--radius-sm);

    &::placeholder {
      color: var(--gray);
    }
  }

  &__btn {
    flex-shrink: 0;
    width: 40px;
    height: 30px;
    border-radius: var(--radius-sm);
  }
}

.taskList {
  &__title {
    margin: 20px 0 10px;
    color: var(--black);
  }

  &__wrap {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__check {
    flex: 0 0 10%;
    height: 16px;
    max-width: 10%;
  }

  &__text {
    flex: 0 0 70%;
    max-width: 70%;
    color: var(--black);
  }

  &__done {
    text-decoration: line-through;
    color: #627B75;
  }

  &__btn {
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  &__button {
    font-size: 16px;
    border-radius: var(--radius-s);
  }
}